Metodología/Datos/Solutions manual to accompany Romer Advanced macroeconomics (Rohaly, Jeffrey, Romer etc.) (z-library.sk, 1lib.sk, z-lib.sk).pdf
Metodología/Datos/ejercicio2 (1).pdf
Metodología/Datos/ejercicio2.pdf
Metodología/Datos/ejercicio2.Rmd
Metodología/Datos/ejercicio8.pdf
Metodología/Datos/ejerciciosteóricos.pdf
Metodología/Datos/No usar/1993-2022_consumo privado_base2013.csv
Metodología/Datos/No usar/1993-2022_consumo servicios_base2013.csv
Metodología/Datos/No usar/2008-2025_Pib_METODO DEL GASTO_p 2018.xlsx
Metodología/Datos/No usar/Consumo_MX_2003-2024.xls
Metodología/Datos/pdf-solution-manual-for-advanced-macroeconomics-5th-edition-by-david-romer_compress.pdf
Metodología/Datos/Romer_Advanced_Macroeconomics_Solutions.pdf
Metodología/Datos/Solutions manual to accompany Romer Advanced macroeconomics (Rohaly, Jeffrey, Romer etc.) (z-library.sk, 1lib.sk, z-lib.sk).pdf
Metodología/Datos/ejercicio2 (1).pdf
Metodología/Datos/ejercicio2.pdf
Metodología/Datos/ejercicio2.Rmd
Metodología/Datos/ejercicio8.pdf
Metodología/Datos/ejerciciosteóricos.pdf
Metodología/Datos/No usar/1993-2022_consumo privado_base2013.csv
Metodología/Datos/No usar/1993-2022_consumo servicios_base2013.csv
Metodología/Datos/No usar/2008-2025_Pib_METODO DEL GASTO_p 2018.xlsx
Metodología/Datos/No usar/Consumo_MX_2003-2024.xls
